venv

data/*
!data/utils/        

unet.pt
ema_sd.pt

ckp*

wandb/
profiling-logs/

# ignore all checkpoints & samples folders
**/samples/
**/*samples-*/
**/checkpoints/

scripts/
problems/
dflow-radon-metrics

wandb/

# pycaches
**/__pycache__/
**/*.pyc
# Jupyter Notebook checkpoints
**/.ipynb_checkpoints/
# VSCode settings
.vscode/
# MacOS files
.DS_Store

# ignore .pt in mesh_data except for mesh_data.pt
forward_solvers/mesh-data/*.pt
!forward_solvers/mesh-data/mesh_128_h05.mat